<a href="https://colab.research.google.com/github/prajyotjogi/FinalYearProject/blob/master/Final_Year_Project_On_Flight_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://www.machinehack.com/wp-content/uploads/2019/03/Flight_Ticket_Participant_Datasets-20190305T100527Z-001.zip

--2019-03-30 04:01:53--  https://www.machinehack.com/wp-content/uploads/2019/03/Flight_Ticket_Participant_Datasets-20190305T100527Z-001.zip
Resolving www.machinehack.com (www.machinehack.com)... 107.180.71.20
Connecting to www.machinehack.com (www.machinehack.com)|107.180.71.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 641764 (627K) [application/zip]
Saving to: ‘Flight_Ticket_Participant_Datasets-20190305T100527Z-001.zip’

Flight_Ticket_Parti 100%[===================>] 626.72K   887KB/s    in 0.7s

2019-03-30 04:01:54 (887 KB/s) - ‘Flight_Ticket_Participant_Datasets-20190305T100527Z-001.zip’ saved [641764/641764]

In [0]:
from zipfile import ZipFile
zf = ZipFile('Flight_Ticket_Participant_Datasets-20190305T100527Z-001.zip', 'r')
zf.extractall('')
zf.close()

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df_train = pd.read_excel('Flight_Ticket_Participant_Datasets/Data_Train.xlsx')
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
df_test = pd.read_excel('Flight_Ticket_Participant_Datasets/Test_set.xlsx')
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [0]:
df_train = df_train.dropna()
df_test = df_test.dropna()

In [0]:
df_train['Journey_Day'] = pd.to_datetime(df_train.Date_of_Journey, format = '%d/%m/%Y').dt.day
df_train['Journey_Month'] = pd.to_datetime(df_train.Date_of_Journey, format = '%d/%m/%Y').dt.month
df_test['Journey_Day'] = pd.to_datetime(df_test.Date_of_Journey, format = '%d/%m/%Y').dt.day
df_test['Journey_Month'] = pd.to_datetime(df_test.Date_of_Journey, format = '%d/%m/%Y').dt.month

df_train.drop(labels='Date_of_Journey',axis = 1, inplace=True)
df_test.drop(labels = 'Date_of_Journey',axis=1, inplace=True)

In [8]:
df_train.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [9]:
df_test.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_Day,Journey_Month
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,5
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,5
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,5
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,6

In [0]:
df_train['Dep_Hour'] = pd.to_datetime(df_train.Dep_Time).dt.hour
df_train['Dep_Minutes'] = pd.to_datetime(df_train.Dep_Time).dt.minute

df_test['Dep_Hour'] = pd.to_datetime(df_test.Dep_Time).dt.hour
df_test['Dep_Minutes'] = pd.to_datetime(df_test.Dep_Time).dt.minute

df_train['Arr_Hour'] = pd.to_datetime(df_train.Arrival_Time).dt.hour
df_train['Arr_Minutes'] = pd.to_datetime(df_train.Arrival_Time).dt.minute

df_test['Arr_Hour'] = pd.to_datetime(df_train.Arrival_Time).dt.hour
df_test['Arr_Minutes'] = pd.to_datetime(df_train.Arrival_Time).dt.minute

In [0]:
df_train.drop(labels='Dep_Time', axis=1, inplace=True)
df_test.drop(labels='Dep_Time', axis=1, inplace=True)
df_train.drop(labels='Arrival_Time', axis=1, inplace=True)
df_test.drop(labels='Arrival_Time', axis=1, inplace=True)

In [12]:
duration = list(df_train['Duration'])
dur_hour = []
dur_minute = []
for i in range(len(duration)):
  if len(duration[i].split()) == 2:
    dur_hour.append(int(duration[i].split()[0][:-1]))
    dur_minute.append(int(duration[i].split()[1][:-1]))
  elif len(duration[i].split()) < 2:
    if 'h' in duration[i]:
      dur_hour.append(int(duration[i][:-1]))
      dur_minute.append(0)
    if 'm' in duration[i]:
      dur_minute.append(int(duration[i][:-1]))
      dur_hour.append(0)

df_train['Dur_hour'] = dur_hour
df_train['Dur_minute'] = dur_minute
df_train.drop(labels='Duration', axis=1, inplace=True)
df_train.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minutes,Arr_Hour,Arr_Minutes,Dur_hour,Dur_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45

In [13]:
duration = list(df_test['Duration'])
dur_hour = []
dur_minute = []
for i in range(len(duration)):
  if len(duration[i].split()) == 2:
    dur_hour.append(int(duration[i].split()[0][:-1]))
    dur_minute.append(int(duration[i].split()[1][:-1]))
  elif len(duration[i].split()) < 2:
    if 'h' in duration[i]:
      dur_hour.append(int(duration[i][:-1]))
      dur_minute.append(0)
    if 'm' in duration[i]:
      dur_minute.append(int(duration[i][:-1]))
      dur_hour.append(0)

df_test['Dur_hour'] = dur_hour
df_test['Dur_minute'] = dur_minute
df_test.drop(labels='Duration', axis=1, inplace=True)
df_test.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Dep_Hour,Dep_Minutes,Arr_Hour,Arr_Minutes,Dur_hour,Dur_minute
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,17,30,1,10,10,55
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,6,20,13,15,4,0
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,In-flight meal not included,21,5,19,15,4,25,23,45
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,21,5,8,0,23,30,13,0
4,Air Asia,Banglore,Delhi,BLR → DEL,non-stop,No info,24,6,23,55,21,35,2,50

In [0]:
X_train = np.asanyarray(df_train.iloc[:,df_train.columns != 'Price'].values)
Y_train = np.asanyarray(df_train.iloc[:,6].values)
X_test = np.asanyarray(df_test.iloc[:,:].values)

In [15]:
X_train

array([['IndiGo', 'Banglore', 'New Delhi', ..., 10, 2, 50],
       ['Air India', 'Kolkata', 'Banglore', ..., 15, 7, 25],
       ['Jet Airways', 'Delhi', 'Cochin', ..., 25, 19, 0],
       ...,
       ['Jet Airways', 'Banglore', 'Delhi', ..., 20, 3, 0],
       ['Vistara', 'Banglore', 'New Delhi', ..., 10, 2, 40],
       ['Air India', 'Delhi', 'Cochin', ..., 15, 8, 20]], dtype=object)

In [0]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le2 = LabelEncoder()
for i in range(6):
  X_train[:,i] = le1.fit_transform(X_train[:,i])
  X_test[:,i] = le2.fit_transform(X_test[:,i])

In [17]:
X_train

array([[3, 0, 5, ..., 10, 2, 50],
       [1, 3, 0, ..., 15, 7, 25],
       [4, 2, 1, ..., 25, 19, 0],
       ...,
       [4, 0, 2, ..., 20, 3, 0],
       [10, 0, 5, ..., 10, 2, 40],
       [1, 2, 1, ..., 15, 8, 20]], dtype=object)

In [18]:
print(pd.DataFrame(X_test).head())

  0  1  2   3  4  5   6  7   8   9   10  11  12  13
0  4  2  1  76  0  5   6  6  17  30   1  10  10  55
1  3  3  0  65  0  5  12  5   6  20  13  15   4   0
2  4  2  1  76  0  3  21  5  19  15   4  25  23  45
3  6  2  1  76  0  5  21  5   8   0  23  30  13   0
4  0  0  2  16  4  5  24  6  23  55  21  35   2  50

In [19]:
print(pd.DataFrame(X_train).head())

  0  1  2    3  4  5   6  7   8   9   10  11  12  13
0  3  0  5   18  4  8  24  3  22  20   1  10   2  50
1  1  3  0   84  1  8   1  5   5  50  13  15   7  25
2  4  2  1  118  1  8   9  6   9  25   4  25  19   0
3  3  3  0   91  0  8  12  5  18   5  23  30   5  25
4  3  0  5   29  0  8   1  3  16  50  21  35   4  45

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
Y_train = sc.fit_transform(Y_train.reshape(len(Y_train),1))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [21]:
Y_train = Y_train.ravel()
print(Y_train)

[-1.12553455 -0.30906781  1.03978296 ... -0.40296691  0.77218138
  0.57809433]

In [22]:
print(pd.DataFrame(X_test).head())

         0         1         2         3         4         5         6   \
0  0.014369  0.040556 -0.295743  0.032124 -0.807341 -1.970848 -0.885613
1 -0.410805  0.890014 -0.973812 -0.267380 -0.807341 -1.970848 -0.177979
2  0.014369  0.040556 -0.295743  0.032124 -0.807341 -3.618027  0.883471
3  0.864716  0.040556 -0.295743  0.032124 -0.807341 -1.970848  0.883471
4 -1.686326 -1.658359  0.382326 -1.601537  1.407210 -1.970848  1.237288

         7         8         9         10        11        12        13
0  1.109135  0.784369  0.297903 -1.800436 -0.890014 -0.028830  1.574113
1  0.250289 -1.129156 -0.234950 -0.050909 -0.587094 -0.735168 -1.671678
2  0.250289  1.132283 -0.501376 -1.363054  0.018745  1.501569  0.983969
3  0.250289 -0.781243 -1.300655  1.407030  0.321664  0.324339 -1.671678
4  1.109135  1.828111  1.630034  1.115442  0.624584 -0.970614  1.279041

In [23]:
print(pd.DataFrame(X_train).head())

         0         1         2         3         4         5         6   \
0 -0.410805 -1.658359  2.416534 -1.547082  1.407210  0.499921  1.237288
1 -1.261152  0.890014 -0.973812  0.249946 -0.253703  0.499921 -1.475307
2  0.014369  0.040556 -0.295743  1.175687 -0.253703  0.499921 -0.531796
3 -0.410805  0.890014 -0.973812  0.440539 -0.807341  0.499921 -0.177979
4 -0.410805 -1.658359  2.416534 -1.247577 -0.807341  0.499921 -1.475307

         7         8         9         10        11        12        13
0 -1.467402  1.654154 -0.234950 -1.800436 -0.890014 -0.970614  1.279041
1  0.250289 -1.303113  1.363607 -0.050909 -0.587094 -0.381999 -0.196319
2  1.109135 -0.607286  0.031476 -1.363054  0.018745  1.030677 -1.671678
3  0.250289  0.958326 -1.034229  1.407030  0.321664 -0.617445 -0.196319
4 -1.467402  0.610412  1.363607  1.115442  0.624584 -0.735168  0.983969

In [0]:
from sklearn.svm import SVR
regr = SVR(kernel='rbf', gamma='scale')
regr.fit(X_train,Y_train)
prediction = regr.predict(X_test)
predicted_price = sc.inverse_transform(prediction)

In [25]:
print(predicted_price[:11])

[ 9750.39250348  7729.53500332 10913.02979403  9691.14345527
  4210.78546565 11313.33690257  7214.08431181  6766.03654349
  2298.3518566  11940.2082401   9883.1965329 ]

In [0]:
df = pd.DataFrame(predicted_price, columns=['Price'])
df.to_excel('Predicted_price4.xlsx',index=False)